body{
    font-family: gilroy, robot, lato !important;
    font-size: large;
    user-select: none;
}
body::-webkit-scrollbar{
    display: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.logo{
    height: 43px;
}
.navbar-brand{
    font-size: 27px;
    padding-left: 10px;
    /* font-family: 'Lato', 'gilroy'; */
    font-family: "Gilroy";
}
.nav-item a{
    color: gray !important;
    font-size: 16px;
    padding: 0 10px;
    font-weight: 400;
}
.display-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
li.nav-item{
    padding: 0 10px;
}
.signin-image{
    height: 390px;
     border: 25px solid white;
     border-radius: 5px;
     box-shadow: 1px 1px 5px grey;
}
textarea:focus, input:focus{
    outline: none !important;
}
.cursor-pointer{
    cursor: pointer;
}
.jumbotron{
    background-color: white;
}

/*.......... index page........... */
.home-wrap{
    background-color: rgb(31,30,30);
}
.g-top{
    height: 90vh;
    position:relative;
}
.video-wrap{
    height: 600px;
    overflow-y: scroll;
}
.video-wrap::-webkit-scrollbar{
    display: none;
}

.video-wrap>*{
    flex: 1 1 250px;
    border: 1px solid white;
}
.g-top-left{
    position: absolute;
    z-index: 9;
    right:0;
    height: 8vh;
    top:0;
    border-bottom-left-radius: 10px;
}
.top-left-participant-wrap{
    position: relative;
}
.cursor-pointer{
    cursor: pointer;
    padding: 5px;
}
.cursor-pointer:hover{
    cursor: pointer;
    padding: 5px;
    background-color: rgb(226,225,225);
    border-radius: 5px;
}
.top-left-participant-count{
    position:absolute;
    top: -2px;
    right: -3px;
    font-size: 15px;
}
.g-bottom{
    /* margin: 0 -10px !important; */
    padding: 0 20px;
    box-shadow: 0 0 5px black;
    z-index: 2;
}
.bottom-left{
    position: relative;
    padding: 5px;
}
.action-icon-style{
    font-size: 8px !important;
    height: 40px;
    width: 40px;
    border: 1px solid lightgray;
    border-radius: 50%;
}
.action-icon-style span.material-icons{
    font-size: 20px;
}
.end-call-wrap{
    height: 45px;
    width: 45px;
    border: 1px solid grey;
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
.end-call-wrap span.material-icons{
    font-size: 22px;
}
.top-remote-video-show-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(../images/bg.png) !important;
}
video{
    border: 1px solid gray;
    width: 30vw;
    overflow: hidden;
}
video::-webkit-media-controls-fullscreen-button {
    display: none;
}
video::-webkit-media-controls-enclosure {
    overflow: hidden;
}
.active{
    background-color: #005a5a47;
    border-radius: 5px;
}
.top-box{
    background-color: rgb(14 6 6);
    position: fixed;
    width: 30%;
    height: 30%;
    top: 20.5%;
    left:35.5%;
    display: block;
    box-shadow: 0 0 5px white;
    border-radius: 10px;
    z-index: 999;
    columns: white;
    border: 2px solid white;
}
.bottom-left{
    position: relative;
    padding: 5px;
}
.g-details{
    position: absolute;
    width: 30vw;
    background-color: white;
    margin-top: -160px;
    counter-reset: black;
    border-radius: 5px;
    padding: 5px;
}
.g-right-details-wrap{
    z-index: 99;
    position: absolute;
    right: 0%;
    width: 25%;
}
.g-details-heading-show{
    font-size: 14px;
    padding-left: 10px;
}
.camera-settings {
    position: absolute;
    margin-bottom: 140px;
    margin-right: 140px;
    width: 220px;
    display: none;
}
.camera-set{
    font-size: 20px;
}
.camera-settings-options{
    /* padding: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(60, 60, 60, 0.37);
    padding: 10px 10px;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.camera-settings-options-wrap{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 5px;
}
.camera-settings-options-wrap-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.items-div{
    display: flex;
    gap: 20px;
}

.camera-settings-options-heading{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-bottom: 2.5px solid #ccc;
}

.camera-settings-options-wrap-item-value{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}


#me .icon{
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .7s;
}
#me:hover .icon{
    opacity: 1;
}

.userbox .icon{
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .7s;
}
.userbox:hover .icon{
    opacity: 1;
}

.participant-name{
    text-transform: capitalize;
}

#messages div{
    padding: 5px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .7s;
}
#messages div:hover{
    background-color: #4949491f;
}
#messages div span{
    text-transform: capitalize;
}

@media(max-width: 500px) {
    .g-right-details-wrap{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 99;
    }
}